@import "tailwindcss";
@plugin "daisyui";

@media (max-width: 640px) {

  body,
  html {
    background-color: #ffffff !important;
    color: #000000 !important;
  }

  * {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}

.animate-slideUp {
  animation: slideUp 0.8s ease forwards;
}

@keyframes glow-light {
  0% {
    box-shadow: 0 0 10px rgba(99, 102, 241, 0.4),
      0 0 20px rgba(59, 130, 246, 0.3);
  }

  50% {
    box-shadow: 0 0 20px rgba(99, 102, 241, 0.6),
      0 0 40px rgba(59, 130, 246, 0.5);
  }

  100% {
    box-shadow: 0 0 10px rgba(99, 102, 241, 0.4),
      0 0 20px rgba(59, 130, 246, 0.3);
  }
}

.animate-glow-light {
  animation: glow-light 3s infinite ease-in-out;
}

@keyframes glow-light {
  0% {
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4),
      0 0 20px rgba(139, 92, 246, 0.3);
  }

  50% {
    box-shadow: 0 0 25px rgba(59, 130, 246, 0.6),
      0 0 45px rgba(139, 92, 246, 0.5);
  }

  100% {
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4),
      0 0 20px rgba(139, 92, 246, 0.3);
  }
}

.animate-glow-light {
  animation: glow-light 3s infinite ease-in-out;
}

@keyframes carGlow {
  0% {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    opacity: 0.7;
  }

  50% {
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
    opacity: 1;
  }

  100% {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    opacity: 0.7;
  }
}

@keyframes roadMove {
  0% {
    transform: translateX(-100%) scaleX(1.2);
  }

  100% {
    transform: translateX(100%) scaleX(1.2);
  }
}

.animate-car-glow {
  animation: carGlow 2s infinite ease-in-out;
}

.animate-road {
  animation: roadMove 1.1s infinite linear;
}